@use "../variables";

.article {
    &__header {
        text-align: center;
        padding: 2rem 0;
        background-color: variables.$secondary-color;

        &__title {
            font-size: 2rem;
            color: variables.$primary-color;
        }

        &__date {
            font-size: 0.9rem;
            color: gray;
        }
    }

    &__content {
        padding: 2rem;
        line-height: 1.6;

        &__paragraph {
            margin-bottom: 1.5rem;
        }

        &__image {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            margin: 1rem 0;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        &__blockquote {
            font-style: italic;
            border-left: 4px solid variables.$primary-color;
            padding-left: 1rem;
            margin: 1.5rem 0;
            color: darkgray;
        }

        &__list {
            margin: 1.5rem 0;
            padding-left: 1.5rem;
            li {
                margin-bottom: 0.5rem;
            }
        }
    }

    // Pseudoclasses

    &__content:has(.article__image) {
        border: 1px solid variables.$primary-color;
        padding: 2rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    &__paragraph:is(:first-child, :nth-child(3)) {
        font-weight: bold;
    }
}