@use "../variables";

.article {
  &__header {
    padding: 2rem 0;
    text-align: center;
    background-color: variables.$secondary-color;

    &__title {
      font-size: 2rem;
      color: variables.$primary-color;
    }

    &__date {
      font-size: 0.9rem;
      color: gray;
    }
  }

  &__content {
    padding: 2rem;
    line-height: 1.6;

    &__paragraph {
      margin-bottom: 1.5rem;
    }

    &__image {
      width: 100%;
      max-height: 300px;
      margin: 1rem 0;
      border-radius: 10px;
      border-radius: 10px;
      border-radius: 10px;
      border-radius: 10px;
      border-radius: 10px;

      object-fit: cover;
    }

    &__blockquote {
      margin: 1.5rem 0;
      padding-left: 1rem;
      border-left: 4px solid variables.$primary-color;

      font-style: italic;
      color: darkgray;
    }

    &__list {
      margin: 1.5rem 0;
      padding-left: 1.5rem;

      li {
        margin-bottom: 0.5rem;
      }
    }
  }

  // Pseudoclasses

  &__content:has(.article__image) {
    padding: 2rem;
    border: 1px solid variables.$primary-color;
    border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
  }

  &__paragraph:is(:first-child, :nth-child(3)) {
    font-weight: bold;
  }
}

@container (max-width: 600px) {
  .article__content {
    padding: 1rem;

    &__image {
      max-height: 200px;
    }
  }
}
