@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: 0;
  padding: 2rem;

  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: variables.$font-color;

  background-color: variables.$bg-color;
}

.uoc__header {
  background-color: variables.$primary-color;
  padding: 1rem 2rem;
  color: white;

  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  &--logo img {
    max-height: 50px;
  }

  &--nav {
    &--list {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &--item a {
      color: white;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;

  text-align: center;

  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.uoc-logo {
  display: block;

  max-width: 200px;
  height: auto;
  margin: 0 auto 1.5rem;

  @media (min-width: variables.$mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: variables.$primary-color;

  @media (min-width: variables.$mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: auto;
  padding: 1rem 0;
  font-size: 0.75rem;
  text-align: center;
  color: variables.$font-color;
}
