@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: 0;
  padding: 2rem;

  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: variables.$font-color;

  background-color: variables.$bg-color;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 3rem;
    margin: 0;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}

.uoc__header {
  padding: 1rem 2rem;
  color: white;
  background-color: variables.$primary-color;

  &--container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
  }

  &--logo img {
    max-height: 50px;
  }

  &--toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
    }
  }

  &--nav {
    &--list {
      display: flex;
      gap: 1.5rem;

      margin: 0;
      padding: 0;

      list-style: none;
    }

    &--item a {
      font-weight: 500;
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        border-bottom: 2px solid variables.$primary-color;
        font-weight: 700;
      }
    }
  }
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;

  text-align: center;

  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.uoc__logo {
  display: block;
  max-width: 200px;
  height: auto;
  margin: 0 auto 1.5rem;

  @media (min-width: variables.$mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: variables.$primary-color;

  @media (min-width: variables.$mqMinWidth) {
    font-size: 36px;
  }
}

.uoc__footer {
  margin-top: auto;
  padding: 1rem 0;

  font-size: 0.75rem;
  color: variables.$font-color;
  text-align: center;
}

@media (max-width: variables.$bp-tablet) {
  .uoc__header--toggle {
    display: flex;
  }

  .uoc__header--nav {
    display: none;
    width: 100%;
    background-color: variables.$primary-color;
    position: absolute;
    top: 100%;
    left: 0;

    &-list {
      flex-direction: column;
      gap: 0;
      padding: 1rem 2rem;

      & a {
        padding: 0.75rem 0;
      }
    }
  }
}