@use "../variables";

.participants {
  &__header {
    text-align: center;
    padding: 2rem 0;
    background-color: variables.$secondary-color;

    &__title {
      font-size: 2rem;
      color: variables.$primary-color;
    }
  }

  &__main {
    padding: 2rem;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

    .participant-card {
      background-color: white;
      border: 1px solid variables.$secondary-color;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      padding: 1rem;
      width: 220px;
      text-align: center;
      transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
      }

      &__image {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      &__name {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        color: variables.$primary-color;
      }

      &__specialy {
        font-size: 1rem;
        color: darkgray;
      }
    }
  }
}

@container (max-width: 600px) {
  .participants__grid {
    flex-direction: column;
    align-items: center;
  }

  .participant-card {
    width: 90%;
  }
}
