@use "../variables";

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  color: variables.$font-color;
}

.participants {
  &__header,
  &__main {
    margin: 0;
    padding: 0;
  }

  &__header {
    padding: 2rem 0;
    text-align: center;

    &__title {
      font-size: 2.2rem;
      font-weight: 700;
      color: variables.$primary-color;
      letter-spacing: 1px;
      margin-bottom: 1rem;

      &::after {
        content: "";
        display: block;
        width: 120px;
        height: 4px;
        margin: 0.5rem auto 0;
        border-radius: 2px;
        background-color: variables.$primary-color;
      }
    }
  }

  &__main {
    padding: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

    .participants__card {
      cursor: pointer;

      overflow: hidden;

      border-radius: 1.5rem;

      text-align: center;

      background-color: #fff;
      box-shadow: 0 8px 20px rgb(0 0 0 / 5%);

      transition: transform 0.3s ease, box-shadow 0.3s ease;

      img {
        display: block;

        width: 100%;
        height: 250px;

        object-fit: cover;
        filter: grayscale(100%);
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 24px rgb(0 0 0 / 10%);
      }

      &-name {
        display: inline-block;
        padding-bottom: 0.3rem;
        border-bottom: 2px solid variables.$primary-color;
        color: variables.$font-color;
      }

      &-specialty {
        padding: 0 1rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        color: variables.$font-color;
      }

      &--more {
        cursor: default;

        display: flex;
        align-items: center;
        justify-content: center;

        font-style: italic;
        color: variables.$font-color;
        text-align: center;

        background: #f8f8f8;

        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(0);
          box-shadow: 0 4px 12px rgb(0 0 0 / 5%);
        }

        &-content {
          color: variables.$primary-color;
        }

        img {
          display: none;
        }
      }
    }
  }
}

/* RESPONSIVE */
@container (max-width: 768px) {
  .participants {
    &__header {
      &-title {
    font-size: 2rem;
  }
    }

  &__grid {
    flex-direction: column;
    align-items: center;
  }

  &__card {
    width: 90%;

    img {
      height: 200px;
    }
  }
}
}