@use "../variables";

.poster {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;

  padding: 2rem;
  
  text-align: center;

  &__header {
    grid-column: 1 / -1;
    padding: 2rem 0;
    color: white;
    background-color: variables.$primary-color;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @supports not (display: grid) {
      display: block;
    }
  }

  &__section {
    &--image {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border-radius: 10px;
      }
    }

    &--cta {
      grid-column: 1 / -1;
    }
  }
}

@container (max-width: 600px) {
  .poster__main {
    grid-template-columns: 1fr; // una columna per mòbils
  }
}
