<footer class="footer">
  <div class="footer__container">

    <div>
      <img src="./assets/images/fg-logo-negre.png?width=350" alt="Logo Foc i Gust" class="footer__logo" />
    </div>

    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a href="index.html">BENVINGUTS</a>
        </li>
        <li class="footer__nav-item">
          <a href="participants.html">PONENTS</a>
        </li>
        <li class="footer__nav-item">
          <a href="article.html">ARTICLES</a>
        </li>
        <li class="footer__nav-item">
          <a href="free.html">TALLERS</a>
        </li>
      </ul>
    </nav>

    <div class="footer__socials">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>

<div class="uoc">
  <div class="uoc__container">
      <div class="uoc__brand">
        <source srcset="./assets/images/uoc_masterbrand_2linies_blanc.png?as=webp&width=350" type="image/webp" />
        <img src="./assets/images/uoc_masterbrand_2linies_blanc.png?width=350" alt="Universitat Oberta de Catalunya" class="uoc__logo" />
        <p class="uoc__text"> Alba Diaz Romero &copy; Universitat Oberta de Catalunya</p>
      </div>
  </div>
</div>

</footer>