<footer class="fg__footer">
  <div class="fg__footer--container">

    <div class="fg__footer--logo">
      <img src="./assets/images/fg-logo-negre.png?width=350" alt="Logo Foc i Gust" class="focgust__logo" />
    </div>

    <nav class="fg__footer--nav">
      <ul class="fg__footer--nav--list">
        <li class="fg__footer--nav--item">
          <a href="participants.html">PONENTS</a>
        </li>
        <li class="fg__footer--nav--item">
          <a href="article.html">ARTICLES</a>
        </li>
        <li class="fg__footer--nav--item">
          <a href="free.html">TALLERS</a>
        </li>
      </ul>
    </nav>

    <div class="fg__footer--socials">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>

  </div>

<div class="uoc__footer">
  <div class="uoc__footer--container">
      <div class="uoc__footer--brand">
        <source srcset="./assets/images/uoc_masterbrand_2linies_blanc.png?as=webp&width=350" type="image/webp" />
        <img src="./assets/images/uoc_masterbrand_2linies_blanc.png?width=350" alt="Universitat Oberta de Catalunya" class="uoc__footer--logo" />
        <p class="uoc__footer--text"> Alba Diaz Romero &copy; Universitat Oberta de Catalunya</p>
      </div>
  </div>
</div>

</footer>