<header class="uoc__header">
    <div class="uoc__header--container">
      <div class="uoc__header--logo">
        <a href="../index.html"><img src="../assets/images/logo.png?width=350" alt="Logo UOC"></a>
      </div>
      <button class="uoc__header--toggle" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <nav class="uoc__header--nav">
        <ul class="uoc__header--list">
          <li class="uoc__header--item">
            <a href="../index.html">Pàgina 1</a>
          </li>
          <li class="uoc__header--item">
            <a href="./participants.html">Pàgina 2</a>
          </li>
          <li class="uoc__header--item">
            <a href="./article.html">Pàgina 3</a>
          </li>
          <li class="uoc__header--item">
            <a href="./free.html">Pàgina 4</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>