<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="index.html">
        <img src="./assets/images/fg-logo-blanc.png?width=350" alt="Logo UOC" class="focgust-logo">
      </a>
    </div>

    <button class="header__toggle" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="participants.html">PONENTS</a></li>
        <li class="header__nav-item"><a href="article.html">ARTICLES</a></li>
        <li class="header__nav-item"><a href="free.html">TALLERS</a></li>
      </ul>
    </nav>
  </div>
</header>