<header class="fg__header">
  <div class="fg__header--container">
    <div class="fg__header--logo">
      <a href="index.html">
        <img src="./assets/images/fg-logo-blanc.png?width=350" alt="Logo UOC" class="focgust__logo">
      </a>
    </div>

    <button class="fg__header--toggle" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="fg__header--nav">
      <ul class="fg__header--nav--list">
        <li class="fg__header--nav--item"><a href="participants.html">PONENTS</a></li>
        <li class="fg__header--nav--item"><a href="article.html">ARTICLES</a></li>
        <li class="fg__header--nav--item"><a href="free.html">TALLERS</a></li>
      </ul>
    </nav>
  </div>
</header>