<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participants - Jornades Cuina Tradicional</title>
    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <header class="participants__header">
        <h1 class="participants__title">Els nostres ponents</h1>
    </header>

    <main class="participants__main">
        <section class="participants__grid">
            <article class="participant-card">
                <img src="" alt="">
                <h2 class="participant-card__name">Maria López</h2>
                <p class="parrticipant-card__specialty">Cuina Mediterrània</p>
            </article>

            <article class="participant-card">
                <img src="" alt="">
                <h2 class="participant-card__name">Maria López</h2>
                <p class="parrticipant-card__specialty">Cuina Mediterrània</p>
            </article>

            <article class="participant-card">
                <img src="" alt="">
                <h2 class="participant-card__name">Maria López</h2>
                <p class="parrticipant-card__specialty">Cuina Mediterrània</p>
            </article>

            <article class="participant-card">
                <img src="" alt="">
                <h2 class="participant-card__name">Maria López</h2>
                <p class="parrticipant-card__specialty">Cuina Mediterrània</p>
            </article>

            <article class="participant-card">
                <img src="" alt="">
                <h2 class="participant-card__name">Maria López</h2>
                <p class="parrticipant-card__specialty">Cuina Mediterrània</p>
            </article>

            <article class="participant-card">
                <img src="" alt="">
                <h2 class="participant-card__name">Maria López</h2>
                <p class="parrticipant-card__specialty">Cuina Mediterrània</p>
            </article>
        </section>
    </main>

    <footer></footer>

</body>