<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss"><!-- do not remove this line! -->
    <title>Participants - Jornades Cuina Tradicional</title>
</head>

<body>

    <header class="participants__header">
        <h1 class="participants__title">Els nostres ponents</h1>
    </header>

    <main class="participants__main">
        <section class="participants__grid">
            <article class="participant-card">
                <img src="../assets/images/ferran-adria.jpg" alt="Ferran Adrià">
                <h2 class="participant-card__name">Ferran Adrià</h2>
                <p class="parrticipant-card__specialty">Cuina d’avantguarda i molecular</p>
            </article>

            <article class="participant-card">
                <img src="../assets/images/joan-roca.jpg" alt="Joan Roca">
                <h2 class="participant-card__name">Joan Roca</h2>
                <p class="parrticipant-card__specialty">Cuina creativa</p>
            </article>

            <article class="participant-card">
                <img src="../assets/images/Carme-Ruscalleda.jpg" alt="Carme Ruscalleda">
                <h2 class="participant-card__name">Carme Ruscalleda</h2>
                <p class="parrticipant-card__specialty">Cuina catalana i d’alta gastronomia</p>
            </article>

            <article class="participant-card">
                <img src="../assets/images/Gordon_Ramsay_Allan_Warren.jpg" alt="Gordon Ramsay">
                <h2 class="participant-card__name">Gordon Ramsay</h2>
                <p class="parrticipant-card__specialty">Cuina britànica contemporània i alta gastronomia</p>
            </article>

            <article class="participant-card">
                <img src="../assets/images/Massimo_Bottura,_from_World's_50_Best_Restaurants_Awards_2012.jpg" alt="Massimo Bottura">
                <h2 class="participant-card__name">Massimo Bottura</h2>
                <p class="parrticipant-card__specialty">Cuina italiana moderna i reinterpretació de plats tradicionals</p>
            </article>
        </section>
    </main>

    <include src="./views/footer.html"></include>

</body>