/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
 */
@use "dependencies";
@use "variables";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

 @use "layouts/home";
 @use "layouts/poster";
 @use "layouts/participants";
 @use "layouts/article";
 @use "layouts/header";
 @use "layouts/free";


/**
 * Do NOT include anything else in this file!
 */
